body {
  font: 400 15px/1.8 Lato, sans-serif;
  color: #777;
}
h3, h4 {
  margin: 10px 0 30px 0;
  letter-spacing: 10px;      
  font-size: 20px;
  color: #111;
}
.container {
  padding: 80px 120px;
}
.person {
  border: 10px solid transparent;
  margin-bottom: 25px;
  width: 80%;
  height: 80%;
  opacity: 0.7;
}
.person:hover {
  border-color: #f1f1f1;
}
.carousel-inner img {
  width: 100%; /* 设置宽度为 100% */
  margin: auto;
}
.carousel-caption h3 {
  color: #fff !important;
}
@media (max-width: 600px) {
  .carousel-caption {
    display: none; /* 当屏幕宽度小于 600 像素时隐藏轮播文本 */
  }
}
.bg-1 {
  background: #2d2d30;
  color: #bdbdbd;
}
.bg-1 h3 {color: #fff;}
.bg-1 p {font-style: italic;}
.list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}
.thumbnail p {
  margin-top: 15px;
  color: #555;
}
.btn {
  padding: 10px 20px;
  /* background-color: #333; */
  color: black;
  border-radius: 0;
  transition: .2s;
}
/* .btn:hover, .btn:focus {
  border: 1px solid #333;
  background-color: #fff;
  color: #000;
}  */
.modal-header, h4, .close {
  text-align: center;
  font-size: 30px;
}
.modal-header, .modal-body {
  padding: 20px 30px;
}
.nav-tabs li a {
  color: #777;
}
#googleMap {
  width: 100%;
  height: 400px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}  
/* 设置导航栏基本样式 */
.navbar {
  height: 100px; 
  background-color: white; /* 设置背景色为白色 */
  color: black; /* 设置文字颜色为黑色 */
  opacity: 1; /* 设置不透明度为完全不透明 */
}

.navbar .nav-link {
  line-height: 20px; /* 使文字垂直居中，高度应等于导航栏的高度 */
}

/* 基础链接样式 */
.nav-link {
  height: 50px;
  color: #333; /* 默认字体颜色 */
  /* padding: 8px 12px; 增加填充以形成按钮效果 */
  display: inline-block; /* 确保可以应用填充 */
  transition: background-color 0.3s, color 0.3s; /* 平滑过渡效果 */
  margin-right: 20px;
  margin-top: 25px;
  border-radius: 20px; /* 圆角边框 */
}

/* 悬停状态的链接样式 */
.nav-link:hover {
  color: #fff; /* 激活状态的文字颜色为白色 */
  background-color: #333; /* 激活状态的背景颜色为深灰色 */

}

/* 激活状态的链接样式 */
.nav-item.active .nav-link {
  color: #fff; /* 激活状态的文字颜色为白色 */
  background-color: #333; /* 激活状态的背景颜色为深灰色 */
  border-radius: 20px; /* 添加圆角边框 */
  margin-right: 20px;
  margin-top: 25px;
}

/* 自定义样式以覆盖 Bootstrap 的默认激活状态样式 */
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background-color: black; 
}

/* 特定于激活链接的额外样式 */
.nav-item.active .nav-link {
  border-radius: 20px; /* 添加圆角边框 */
  margin-right: 20px;
  margin-top: 25px;
}

/* 调整导航栏右侧边距 */
.navbar-nav {
  margin-right: 20px; /* 右侧内边距 */
}

.navbar-brand{
  color: #333; 
  font-size: 25px;
  font-weight: bold; 
  display: flex; 
  align-items: center;
  margin-left: 30px;
  margin-top:25px;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}
.open .dropdown-toggle {
  color: #fff;
  background-color: #555 !important;
}
.dropdown-menu li a {
  color: #000 !important;
}
.dropdown-menu li a:hover {
  background-color: red !important;
}
footer {
  background-color: white;
  color: #f5f5f5;
  padding: 12px;
}
footer a {
  color: #f5f5f5;
}
footer a:hover {
  color: #777;
  text-decoration: none;
}  
.form-control {
  border-radius: 0;
}
textarea {
  resize: none;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px; /* 调整间距 */
}

.header-title {
    margin: 0; /* 移除默认外边距 */
}